# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment / virtualenv
.env
venv/
env/

# VSCode / JetBrains
.vscode/
.idea/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Build / dist
build/
dist/
*.egg-info/
